/*
 * Columns
 */
.Music .center {
	height: 40px;
	overflow: hidden;
}
.Music .right {
	float: right;
	margin-left: 10px;
}

/*
 * Center
 */
.Music .info {
}

/*
 * Right
 */
.Music .button_add {
	margin-top: 11px;
}
 