/*
 * Play
 */
.Play .left{
	float: left;
}
.Play .center {
	height: 40px;
	margin-right: 26px;
	overflow: hidden;
}
.Play .right {
	float: right;
}
.Play .info {
	margin: 4px 7px 0 7px;
	cursor: grab;
}
.Play .button.button_settings {
	margin-top: 4px;
}

 