html,
body,
#root {
	margin: 0;
	width: 100%;
	height: 100%;
	font-size: 15px;
	font-family: Helvetica;
}
table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}
td {
	padding: 0;
}

/*
 * Containers
 */
.App td:first-child {
	width: 500px;
}
.Explorer td:first-child {
	width: 250px;
}
.FolderList,
.PlayList {
	background-color: #ddd;
}
.MusicList {
	background-color: #eee;
}
.MusicList .panel_top {
	text-align: right;
}

/*
 * Util classes
 */
.logo {
	font-size: 20px;
}
.item {
	padding: 10px;
	margin-top: 5px;
	border-radius: 3px;
	background-color: white;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.info {
	height: 18px;
	margin-bottom: 2px;
	overflow: hidden;
}
.artist {
	font-weight: bold;
}

/*
 * Panel
 */
.panel {
	height: 100%;
}
.panel table tr:first-child {
	height: 60px;
}
.panel .panel_top {
	height: 40px;
	margin: 10px;
}
.panel .panel_bottom {
	height: 100%;
	overflow-y: auto;
}
.panel .panel_container {
	margin:  0 10px 10px 10px;
}
 
/*
 * Button
 */
@font-face {
	font-family: 'Material';
	src: url('./MaterialIcons-Regular.woff');
	font-weight: normal;
	font-style: normal;
}
.button {
	cursor: pointer;
	font-family: 'Material';
	box-shadow: 0 0 5px rgba(0,0,0,0.6);
}
.button.small {
	font-size: 16px;
    padding: 2px;
    border-radius: 10px;
}
.button.big {
	font-size: 28px;
    padding: 6px;
    border-radius: 20px;
}
.button.red {
	color: white;
	background-color: red;
}
.button.white {
	color: red;
	background-color: white;
}
.button.horizontal {
	display: inline-block;
    margin-left: 5px;
}
.button.horizontal:first-child {
	margin-left:0;
}

/*
 * Button icons
 */
.button.button_play:before {
	content: '\e037';
}
.button.button_pause:before {
	content: '\e034';
}
.button.button_close:before {
	content: '\e5cd';
}
.button.button_settings:before {
	content: '\e429';
}
.button.button_add:before {
	content: '\e5c8';
}
.button.button_add_all:before {
	content: '\e03b';
}
.button.button_remove_all:before {
	content: '\e92b';
}